<header>
    <div>
        <h1>Movies</h1>
    </div>
    <div>
        <ul>
            <li>
                <a href="/movies">All Movies</a>
            </li>
            <li>
                <a href="/movies/create">Create Movie</a>
            </li>
        </ul>
    </div>
</header>
