<header>
    <div class="container-xl mx-auto p-0 m-0 row">
        <div class="col-12">
            <h1>Movies</h1>
        </div>
        <div class="col-12">
            <ul class="list-unstyled m-0 d-flex">
                <li>
                    <i class="fa fa-video-camera"></i>
                    <a href="/movies" class="header-a">All Movies</a>
                </li>
                <li class="ml-3">
                    <i class="fa fa-film"></i>
                    <a href="/movies/create" class="header-a">Create Movie</a>
                </li>
                <li class="ml-3">
                    <i class="fa fa-ticket-alt"></i>
                    <a href="/movies/performance" class="header-a"
                        >Create Performance</a
                    >
                </li>
                <li class="ml-3">
                    <i class="fa fa-home"></i>
                    <a href="/" class="header-a">Home</a>
                </li>
            </ul>
        </div>
    </div>
</header>
